#anatomywrapper {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 0;
    background-color: transparent;
    min-width: 220px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#anatomybase svg {
    max-height: 100%;
    width: 100%;
    margin: 0;
}

#anatomybaseback svg {
    max-height: 100%;
    width: 100%;
    margin: 0;
}

#tipanatomy {
    font: 14px/16px Trebuchet MS, Helvetica, Arial, sans-serif;
    display: none;
    max-width: 40%;
    padding: 5px;
    border: 1px solid #404040;
    color: #404040;
    z-index: 1000;
    float: left;
    position: absolute;
    background: rgba(265, 265, 265, 0.9);
    word-break: keep-all;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

#tipanatomy p {
    margin: 0!important;
    color: #404040!important;
}

#tipanatomy img {
    float: left;
    padding: 3px;
}

@media screen and (max-width: 320px) {
    #anatomybase svg {
        height: 440px;
    }
    #tipanatomy {
        max-width: 40%;
    }
    #tipanatomy img {
        max-width: 95%;
    }
}

@media screen and (max-width: 400px) and (min-width: 321px) {
    #anatomybase svg {
        height: 510px;
    }
}

@media screen and (max-width: 480px) and (min-width: 401px) {
    #anatomybase svg {
        height: 660px;
    }
}

@media screen and (max-width: 568px) and (min-width: 481px) {
    #anatomybase svg {
        height: 660px;
    }
}

@media screen and (max-width: 685px) and (min-width: 569px) {
    #anatomybase svg {
        height: 680px;
    }
}

@media screen and (max-width: 767px) and (min-width: 686px) {
    #anatomybase svg {
        height: 690px;
    }
}

@media screen and (min-width: 768px) {
    #anatomybase svg {
        height: 700px;
    }
}

@media screen and (min-width: 768px) {
    #anatomybaseback svg {
        height: 500px !important;
    }
}

.gob,
.goa {
    fill: #72B8FC;
    opacity: 0.05;
    -webkit-transition: fill 0.1s ease;
    -moz-transition: fill 0.1s ease;
    -o-transition: fill 0.1s ease;
    transition: fill 0.1s ease;
    cursor: pointer;
}

.gob:hover,
.goa:hover {
    opacity: 0.4;
}

.form-item {
    margin-bottom: 3em !important;
}

.pais-tatuaje {
    border: 1px solid #e1e1e1;
    padding: 12px 16px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.siguiente {
    position: relative;
    vertical-align: middle;
    width: auto;
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 17px;
    font-weight: 600;
    outline: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    padding: 15px 43px;
    color: #fff;
    border: 2px solid transparent;
    line-height: initial;
    background-color: #ff0000;
    cursor: pointer;
    float: right;
}

.retroceder {
    position: relative;
    vertical-align: middle;
    width: auto;
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 17px;
    font-weight: 600;
    outline: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    padding: 15px 43px;
    color: #fff;
    border: 2px solid transparent;
    line-height: initial;
    background-color: #ff0000;
    cursor: pointer;
    float: left;
}

.siguiente:hover,
.retroceder:hover {
    color: #fff;
    background-color: #252525;
}

.titulo {
    font-weight: bold;
}

div.wpcf7-response-output {
    margin: 3em 0.5em 1em !important;
}


/* HIDE RADIO */

[type=radio].size-tatuaje {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}


/* IMAGE STYLES */

[type=radio]+img {
    cursor: pointer;
}


/* CHECKED STYLES */

[type=radio]:checked+img {
    outline: 2px solid #f00;
}